<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/public/voting.css" />
    <script src="/public/jquery-1.6.4.min.js"></script>  
    <script src="/public/voting.js"></script>
    <script type="text/javascript" src="/public/swfobject.js"></script>    
    <script type="text/javascript" src="/public/youtubePlayer.js"></script>    
  </head>
  <body onload="updateCount()">
    <div class="topspacer"></div>
    <h1>Sports Performance User Study</h1>
    <p>
    Nullam in felis non sapien egestas ullamcorper. Nulla facilisi. Morbi elit dui, egestas ut facilisis sit amet, scelerisque eget libero. Cras pellentesque laoreet odio at rhoncus. Pellentesque euismod elit non orci faucibus vitae cursus dolor iaculis. Praesent imperdiet dolor turpis, sed pulvinar justo. Donec porttitor mollis eros, non sodales diam euismod viverra. Quisque laoreet tincidunt laoreet.
    </p>
    <div class="statusbar statusbar-top">
      <div class="statusbar-content">
        Welcome, {{ username }}! <a href="{{logout_url}}" class="logout">Logout</a>
      </div>
    </div>
    <div class="statusbar statusbar-bottom">
      <div class="statusbar-content">
        Your progress:
          <span class="progresscount" id="completedcount">#</span>
        out of
          <span class="progresscount" id="totalcount">#</span>
        questions (<span class="progresscount" id="percentage">#</span>)
        answered.
      </div>
    </div>
    <div class="task-title">
      <h2>General Information</h2>
    </div>
    {% for task in metatasks %}
    <h3>{{task.label}}</h3>
    <div class="task metatask">
      <table class="task-media" id="metatasks">
        <tr class="button-row {%- if task.selected and task.selected != 'X' %} completed{%endif%}"
            id="{{task.name}}">
          <td class="first-column">
              <input type="radio" class="metavote-button"
                     name="{{task.name}}" value="X"
                     id="{{task.name}}_X"
                     {%- if (task.selected=='X') or (not task.selected) %} checked{% endif %} />
          </td>
          {% for choice in task.choices %}
          <td>
           <input type="radio" class="metavote-button"
                  name="{{task.name}}" value="{{choice[0]}}"
                  id="{{task.name}}_{{choice[0]}}"
                  {%- if (task.selected==choice[0]) %} checked {% endif %}/>
          </td>
          {% endfor %}
        </tr>
        <tr class="question-row {%- if task.selected and task.selected != 'X' %} completed{%endif%}"
            id="question_{{task.name}}">
          <td class="first-column">
          </td>
          {% for choice in task.choices %}
          <td class="metatask-choice-description">
            {{ choice[1] }}
          </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    {% endfor %}
    {% for task in tasks %}
      <div class="task-title">
        <h2>Task {{loop.index}} ({{ task.prettyName }})</h2>
      </div>
      <div class="task realtask">
        <table class="task-media" id="{{ task.name }}">
          <tr class="media-row">
            <td class="first-column"></td>

            {%- macro youtubeClip(id) %}
            <td class="media-cell">
              <div id="{{id}}_container" class="player-container">
                <div class="player-container-text">
                  Push the button below to play all three videos.
                </div>
              </div>
            </td>
            {%- endmacro -%}

            {{ youtubeClip(task.youtube_id1) }}
            {{ youtubeClip(task.youtube_id2) }}
            {{ youtubeClip(task.youtube_id3) }}
          </tr>
          <tr class="playbutton-row">
            <td class="first-column"></td>
            <td colspan=3 class="playbutton-cell">
              <input type="button" class="playbutton" value="PLAY ALL" id="playAll_{{task.name}}"/>
            </td>
          </tr>
          <tr class="question-row {%- if task.selected_best and task.selected_best != 'X' %} completed{%endif%}"
              id="question_{{task.name}}_best">
            <td class="first-column"></td>
            <td colspan=3>
              <p>Please indicate which video you like <b>MOST</b>:
              </p>
              <script>
                $('#playAll_{{task.name}}').click(function() {
                  this.value = "PLAY AGAIN";
                  var ids = ["{{task.youtube_id1}}", "{{task.youtube_id2}}", "{{task.youtube_id3}}"];
                  playAll(ids);
                });
              </script>
            </td>
          </tr>
          <tr class="button-row {%- if task.selected_best and task.selected_best != 'X' %} completed{%endif%}"
              id="{{task.name}}_best">

            {%- macro taskButton(suffix, selected, value, cameraName) %}
            <td class={% if value==0 %}"first-column"{% else %}"button-cell"{%endif%}>
              <input type="radio" class="vote-button"
                     name="{{task.name}}{{suffix}}" value="{{value}}_{{cameraName}}"
                     id="{{task.name}}{{suffix}}_{{value}}"
                     {%- if (selected==cameraName) or
                            (not selected and value==0) %} checked{% endif %}/>
            </td>
            {%- endmacro -%}

            {{ taskButton('_best', task.selected_best, 0, 'X') }}
            {{ taskButton('_best', task.selected_best, 1, task.camera1) }}
            {{ taskButton('_best', task.selected_best, 2, task.camera2) }}
            {{ taskButton('_best', task.selected_best, 3, task.camera3) }}
          </tr>
          <tr class="question-row {%- if task.selected_worst and task.selected_worst != 'X' %} completed{%endif%}"
              id="question_{{task.name}}_worst">
            <td class="first-column"></td>
            <td colspan=3>
              Please indicate which video you like <b>LEAST</b>:
            </td>
          </tr>
          <tr class="button-row {%- if task.selected_worst and task.selected_worst != 'X' %} completed{%endif%}">
          <!--tr {%- if task.selected_worst %} class="completed" {%-endif %}-->
            {{ taskButton('_worst', task.selected_worst, 0, 'X') }}
            {{ taskButton('_worst', task.selected_worst, 1, task.camera1) }}
            {{ taskButton('_worst', task.selected_worst, 2, task.camera2) }}
            {{ taskButton('_worst', task.selected_worst, 3, task.camera3) }}
          </tr>
        </table>
        </div>
      </div>
      <div class="taskspacer"></div>
    {% endfor %}
    <h2>Thank you very much for your participation!</h2>
    <div class="bottomspacer"></div>
    <script>
      $("input[class='vote-button']").change(function() {
        doVote($(this), "vote");
      });
      $("input[class='metavote-button']").change(function() {
        doVote($(this), "metavote");
      });
    </script>
  </body>
</html>
