body {
  font-family: Lucida Grande, Trebuchet MS, Helvetica, Arial, sans-serif;
  background-color: #DDDDDD;
  text-align: center;
  margin: 0px;
  text-align: center;
}

p {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 130%; 
}

.statusbar a {
  color: #5af; 
}

a:hover {
  color: #38c;
}

a.logout {
  size: small;
}

.task {
  background-color: #333;
}

.question-row.failed,
.button-row.failed{
  background-color: #833;
}

.question-row.completed,
.button-row.completed {
  background-color: #383;
}

.question-row {
  height: 24px;
  vertical-align: middle;
  font-size: 14px;
  color: #ddd;
  width: 100%;
  text-align: center;
  border-top: medium solid #222;
  background-color: #444;
}

.playbutton-row {
%  border-top: medium solid #222;
  text-align: center;
  vertical-align: middle;
}

.question-row.completed {
  color: #fff;
}

.button-row {
  text-align: center;
  padding: 5px;
  background-color: #444;
}

.statusbar {
  position: fixed !important;
  display: block;
  left: auto;
  right: auto;
  text-align: center;
  %vertical-align: middle;
  width: 100%;
  height: 25px;
  font-size: 10pt;
  z-index: 300;
  background-color: #666;
  color: #ddd;
}

.media-cell {
  padding: 20px;
  padding-bottom: 10px;
}


.statusbar-top {
  border-bottom: 2px solid #999;
  top: 0px;
}

.statusbar-bottom {
  border-top: 2px solid #999;
  bottom: 0px;
}

.statusbar-content {
  line-height: 25px;
}


table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  width: 100%;
}
td {
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.metatask {
  width: 800px;
}

.realtask {
  width: 1120px;
}

.task {
  border: medium solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.taskspacer {
  height: 30px;
}

.task-title {
  color: #333;
  height: 50px;
}

.topspacer, .bottomspacer {
  height: 30px;
}

.progresscount {
  font-weight: bolder;
  color: #eee;
}

.title-row {
  border-bottom: medium solid #222;
}
  

.first-column {
  background-color: #2a2a2a;
  border-right: medium solid #222;
  padding: 3px;
  width: 20px;
}

.playbutton-cell {
  padding: 4px;
  padding-bottom: 10px;
}

.playbutton {
  padding: 10px;
  %border: 2px solid #222;
  border: 2px outset #777;
  background: #555;
  font-family: Lucida Grande, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #eee;
  width: 500px;
}

.player-container {
  display: block;
  width: 320px;
  height: 205px;
  color: #ccc;
  background: #000;
  text-align: center;
  vertical-align: middle;
}

.player-container-text {
  clear: both;
  height: 205px;
  text-align: center;
  vertical-align: middle;
  padding: 50px;
}


.playbutton:hover {
  %border: 2px solid #444;
  border: 2px outset #999;
  background: #777;
}


pre {
  border: thin dashed #000;
}

.metatask-choice-description {
  width: 100px;
}
